<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Harry Lew. It uses data from mapbox.com and weatherstack.com.</p>
        <p>This is my learning node website,tutored by Andrew Mead.</p>
        <img class="portrait" src="/img/octocat.png">
    </div>

    {{>footer}}
</body>

</html>